:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.main-color {
  background-color: #0e76a8;
}

.header {
  background-image: url("./Images/PublicImages/image-2.jpg");
  opacity: var(--mainOpacity);
  height: 25em !important;
}

/* dark-overlay */

.col-image-left {
  background-image: url("./Images/PublicImages/image-4.jpg");
  height: 25em !important;
}

.col-image-right {
  background-image: url("./Images/PublicImages/image-1.jpg");
  height: 25em !important;
}

.lost-image {
  background-image: url("./Images/PublicImages/image-3.jpg");
  height: 25em !important;
}

.homepage-carousel-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* book-div */

/* inactiveLink */
